name: Test Cases

on:
  push:

jobs:
  deploy:
    name: Deploy GitHub Page
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Check out code
        uses: actions/checkout@v2

      - name: Check out the www branch
        uses: actions/checkout@v2
        with:
          ref: www
          token: ${{ secrets.GH_TOKEN }}
          path: build/

      - name: Get dependencies
        run: npm install

      - name: Verify stuff
        run: |
          git status
          pwd
          ls -al .git
        working-directory: build/

      - name: Build the webapp
        run: npm run build

      - name: Deploy www
        run: |
          git config user.email "autotron@example.com"
          git config user.name "Autotron"
          git status
          pwd
          ls -al .git
          git commit -a -m "deploy test-cases-page"
          git push
        working-directory: build/
