name: Test Cases

on:
  push:

jobs:
  deploy:
    name: Deploy GitHub Page
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Check out code
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Get dependencies
        run: npm install

      - name: Set GitHub credentials
        run: |
          git config user.email "autotron@example.com"
          git config user.name "Autotron"
          git config credential.https://github.com.username autotron

      - name: Deploy GitHub Page
        run: npm run deploy
